CROSSREF_BASE_URL=https://api.crossref.org
CROSSREF_MAILTO=
CROSSREF_CONNECT_TIMEOUT_SECONDS=10
CROSSREF_READ_TIMEOUT_SECONDS=30
CROSSREF_MAX_RETRIES=2
CROSSREF_MIN_REQUEST_INTERVAL_SECONDS=1.0
CROSSREF_CACHE_TTL_SECONDS=300
